.side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-bottom: 10px; */
}

.side-by-side > * {
  width: 49.5%;
  margin: 0px 3px;
}

.imgUpload-icon {
  color: #00b9c6;
  font-size: 3em;
}

.imgUpload-container {
  width: 50%;
}
